*.enc
*.log
cmd/
data/
*.ps1d1
*.ps1xml
*.psm1
*.pester.ps1
*.code-workspace
bin/
obj/
tmp/
node_modules/
.DS_Store
Thumbs.db
*.bak
*.tmp
*.exe
*.dll
*.pdb
*.suo
*.user
*.vspscc
*.vssscc
SessionData.json
