*.bak
*.code-workspace
*.dll
*.enc
*.exe
*.log
*.pdb
*.pester.ps1
*.ps1d1
*.ps1xml
*.psm1
*.suo
*.tmp
*.user
*.vspscc
*.vssscc
.DS_Store
SessionData.json
Thumbs.db
bin/
cmd/
data/
node_modules/
obj/
test/
tmp/
